
$ease-google: cubic-bezier(0.4, 0.0, 0.2, 1);
$cubic: cubic-bezier(0.19,1,0.22,1);
@mixin transition($time: .3s, $type: ease-in-out, $prop: all) {
  -webkit-transition: $time $type $prop;
  -moz-transition: $time $type $prop;
  -ms-transition: $time $type $prop;
  -o-transition: $time $type $prop;
  transition: $time $type $prop;
}

@mixin rotate($deg: 180deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin placeholder() {
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  /* Firefox 19+ */
  &:-moz-placeholder {
    @content;
  }
  /* Firefox 18- */
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin outline-none() {
  &:focus,
  &:active {
    outline: none;
  }
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

@mixin scale($n: 2) {
  -webkit-transform: scale($n);
  -moz-transform: scale($n);
  -ms-transform: scale($n);
  -o-transform:scale($n);
  transform: scale($n);
}

@mixin notebook() {
  @include to(1440px) {
    @content;
  }
}

@function icon-check() {
  @return "data:image/svg+xml,%3Csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.8377 8.90748L1.80891 5.8787L1.6877 5.75748L1.56648 5.8787L0.516477 6.9287L0.395259 7.04992L0.516477 7.17114L4.71648 11.3711L4.8377 11.4924L4.95891 11.3711L13.9589 2.37114L14.0801 2.24992L13.9589 2.1287L12.9089 1.0787L12.7877 0.957484L12.6665 1.0787L4.8377 8.90748Z' fill='white' stroke='white' stroke-width='0.342857'/%3E%3C/svg%3E%0A"
}

@function icon-card-sip() {
  @return "data:image/svg+xml,%3Csvg width='2' height='164' viewBox='0 0 2 164' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 2C1.55228 2 2 1.55228 2 1C2 0.447715 1.55228 0 1 0C0.447715 0 0 0.447715 0 1C0 1.55228 0.447715 2 1 2ZM1 92C1.55228 92 2 91.5523 2 91C2 90.4477 1.55228 90 1 90C0.447715 90 0 90.4477 0 91C0 91.5523 0.447715 92 1 92ZM2 7C2 7.55228 1.55228 8 1 8C0.447715 8 0 7.55228 0 7C0 6.44772 0.447715 6 1 6C1.55228 6 2 6.44772 2 7ZM1 98C1.55228 98 2 97.5523 2 97C2 96.4477 1.55228 96 1 96C0.447715 96 0 96.4477 0 97C0 97.5523 0.447715 98 1 98ZM2 13C2 13.5523 1.55228 14 1 14C0.447715 14 0 13.5523 0 13C0 12.4477 0.447715 12 1 12C1.55228 12 2 12.4477 2 13ZM1 104C1.55228 104 2 103.552 2 103C2 102.448 1.55228 102 1 102C0.447715 102 0 102.448 0 103C0 103.552 0.447715 104 1 104ZM2 19C2 19.5523 1.55228 20 1 20C0.447715 20 0 19.5523 0 19C0 18.4477 0.447715 18 1 18C1.55228 18 2 18.4477 2 19ZM1 110C1.55228 110 2 109.552 2 109C2 108.448 1.55228 108 1 108C0.447715 108 0 108.448 0 109C0 109.552 0.447715 110 1 110ZM2 25C2 25.5523 1.55228 26 1 26C0.447715 26 0 25.5523 0 25C0 24.4477 0.447715 24 1 24C1.55228 24 2 24.4477 2 25ZM1 116C1.55228 116 2 115.552 2 115C2 114.448 1.55228 114 1 114C0.447715 114 0 114.448 0 115C0 115.552 0.447715 116 1 116ZM2 31C2 31.5523 1.55228 32 1 32C0.447715 32 0 31.5523 0 31C0 30.4477 0.447715 30 1 30C1.55228 30 2 30.4477 2 31ZM1 122C1.55228 122 2 121.552 2 121C2 120.448 1.55228 120 1 120C0.447715 120 0 120.448 0 121C0 121.552 0.447715 122 1 122ZM2 37C2 37.5523 1.55228 38 1 38C0.447715 38 0 37.5523 0 37C0 36.4477 0.447715 36 1 36C1.55228 36 2 36.4477 2 37ZM1 128C1.55228 128 2 127.552 2 127C2 126.448 1.55228 126 1 126C0.447715 126 0 126.448 0 127C0 127.552 0.447715 128 1 128ZM2 43C2 43.5523 1.55228 44 1 44C0.447715 44 0 43.5523 0 43C0 42.4477 0.447715 42 1 42C1.55228 42 2 42.4477 2 43ZM1 134C1.55228 134 2 133.552 2 133C2 132.448 1.55228 132 1 132C0.447715 132 0 132.448 0 133C0 133.552 0.447715 134 1 134ZM2 49C2 49.5523 1.55228 50 1 50C0.447715 50 0 49.5523 0 49C0 48.4477 0.447715 48 1 48C1.55228 48 2 48.4477 2 49ZM1 140C1.55228 140 2 139.552 2 139C2 138.448 1.55228 138 1 138C0.447715 138 0 138.448 0 139C0 139.552 0.447715 140 1 140ZM2 55C2 55.5523 1.55228 56 1 56C0.447715 56 0 55.5523 0 55C0 54.4477 0.447715 54 1 54C1.55228 54 2 54.4477 2 55ZM1 146C1.55228 146 2 145.552 2 145C2 144.448 1.55228 144 1 144C0.447715 144 0 144.448 0 145C0 145.552 0.447715 146 1 146ZM2 61C2 61.5523 1.55228 62 1 62C0.447715 62 0 61.5523 0 61C0 60.4477 0.447715 60 1 60C1.55228 60 2 60.4477 2 61ZM1 152C1.55228 152 2 151.552 2 151C2 150.448 1.55228 150 1 150C0.447715 150 0 150.448 0 151C0 151.552 0.447715 152 1 152ZM2 67C2 67.5523 1.55228 68 1 68C0.447715 68 0 67.5523 0 67C0 66.4477 0.447715 66 1 66C1.55228 66 2 66.4477 2 67ZM1 158C1.55228 158 2 157.552 2 157C2 156.448 1.55228 156 1 156C0.447715 156 0 156.448 0 157C0 157.552 0.447715 158 1 158ZM2 73C2 73.5523 1.55228 74 1 74C0.447715 74 0 73.5523 0 73C0 72.4477 0.447715 72 1 72C1.55228 72 2 72.4477 2 73ZM1 164C1.55228 164 2 163.552 2 163C2 162.448 1.55228 162 1 162C0.447715 162 0 162.448 0 163C0 163.552 0.447715 164 1 164ZM2 79C2 79.5523 1.55228 80 1 80C0.447715 80 0 79.5523 0 79C0 78.4477 0.447715 78 1 78C1.55228 78 2 78.4477 2 79ZM1 86C1.55228 86 2 85.5523 2 85C2 84.4477 1.55228 84 1 84C0.447715 84 0 84.4477 0 85C0 85.5523 0.447715 86 1 86Z' fill='%23007AC9'/%3E%3C/svg%3E%0A"
}