section#draw.page.page-3.js-page
    .container
        .content.content__left
            h3.title.page-3__title Полные правила акции
            .page-3__text
                | Сроки проведения розыгрыша с 1 декабря 2020 года по 15 февраля 2021 года.  Информация об Организаторе Акции, о правилах её проведения, количестве призов, сроках, месте и порядке их получения размещается на сайте
                |
                a(href='https://colgate.novex.ru') colgate.novex.ru
                |
                | или сообщается по телефону горячей линии
                |
                a(href='tel:88002004550') 8 (800) 200-45-50
                |
                | . 656023, г. Барнаул, ул. Германа Титова, 13, ИНН 2222058686, ОГРН 1062222038812.
            .page-3__buttons
                a(href="#").button.button--small Открыть в новой вкладке
                a(href="#").button.button--small Скачать в PDF
        .content.content__right