section#draw.page.page-3.js-page
    .container
        .content.content__top
            h3.title.page-3__title Полные правила акции
            .page-3__text
                | Сроки проведения розыгрыша с 15 марта по 30 апреля 2021 г. Сроки подачи заявок на участие с 15 марта по 11 апреля 2021г. Информация об Организаторе Акции, о правилах её проведения, количестве призов, сроках, месте и порядке их получения размещается на сайте
                |
                a(href='https://www.domestos.novex.ru') www.domestos.novex.ru
                |
                | или сообщается по телефону горячей линии
                |
                a(href='tel:88002004550') 8 (800) 200-45-50
                |
                | . ООО Новекс, юр. адрес: 656023, г.Барнаул, ул. Германа Титова, 13. ИНН 2222058686, ОГРН 1062222038812
            .page-3__buttons
                a(href="#").button.button--small
                    span.button__text Открыть в новой вкладке
                a(href="#").button.button--small
                    span.button__text Скачать в PDF
        .content.content__bottom
            .page-3__step-list
                .page-3__step
                    .page-3__step-text КУПИ DOMESTOS ECO
                .page-3__step
                    .page-3__step-text ЗАРЕГИСТРИРУЙ ЧЕК
                .page-3__step
                    .page-3__step-text УЧАСТВУЙ В РОЗЫГРЫШЕ
