.page-0 {
  position: relative;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.67) 57.29%, rgba(0, 163, 212, 0.36) 100%);


  &__sip {
    font-weight: 400;
    font-size: 4.79vh;
    line-height: 5.89vh;
    margin-right: 14px;
    @include lg-block {
      font-size: 36px;
      line-height: 48px;
    }
    @include md-block {
      font-size: 32px;
      line-height: 40px;
      margin-right: 10px;
    }
  }

  &__wrap {
    position: relative;
  }

  &__products {
    height: 100%;
    & img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__date {
    @include md-block {
      font-size: 18px;
      line-height: .9;
      padding: 20px;
      margin-bottom: 32px;
    }
    display: inline-block;
    width: auto;
    font-weight: 500;
    font-size: 3.51vh;
    line-height: .8;
    color: #fff;
    padding: 2.83vh 25px;
    background: #F45576;
    margin-bottom: 7.26vh;
  }

  &__buy {
    @include md-block {
      font-size: 50px;
      margin-bottom: 32px;
    }
    font-weight: bold;
    font-size: 6.81vh;
    line-height: .8;
    color: #0088C4;
    margin-bottom: 3.63vh;
    text-transform: uppercase;
  }

  &__product-name {
    @include md-block {
      font-size: 50px;
      line-height: 1;
      margin-bottom: 32px;
    }
    font-weight: bold;
    font-size: 6.81vh;
    line-height: .8;
    color: #8FC043;
    margin-bottom: 7.26vh;
    text-transform: uppercase;
  }

  &__present-name {
    @include md-block {
      font-size: 28px;
      line-height: 1;
      margin-bottom: 24px;
    }
    font-weight: bold;
    font-size: 3.63vh;
    line-height: .8;
    color: #0088C4;
    margin-bottom: 3.63vh;
    text-transform: uppercase;
  }

  &__present {
    @include md-block {
      font-size: 30px;
      margin-bottom: 24px;
    }
    font-weight: bold;
    font-size: 5.22vh;
    line-height: .8;
    color: #F45576;
    margin-bottom: 7.26vh;
    text-transform: uppercase;

    &-value {
      @include md-block {
        font-size: 42px;
      }
      font-size: 6.81vh;
    }
  }

  &__draw {
    @include lg-block {
      font-size: 42px;
      margin-bottom: 32px;
      white-space: initial;
      margin-left: 0;
      text-align: left;
    }
    font-weight: bold;
    font-size: 6.12vh;
    line-height: 100%;
    color: #0088C4;
    margin-bottom: 7.26vh;
    white-space: nowrap;
    text-transform: uppercase;
    text-align: right;
    margin-left: -6.83vw;
  }

  &__button {

  }


  & .container {
    @include lg-block {
      height: auto;
    }

    &_page-0 {
      &:before {
        @include lg-block {
          content: none;
        }
        content: "";
        position: absolute;
        right: 0;
        top: 15.66vh;
        width: 21.35vw;
        height: 21.79vh;
        background: url("../img/page0/decor-right.png") no-repeat center right;
        background-size: contain;
      }
    }
  }

  & .content__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2.58vh;
    padding-bottom: 1.13vh;
    background: #0088C4;
    @include lg-block {
      padding-top: 10px;
      padding-bottom: 15px;
    }
  }

  & .content__box {
    display: flex;
    @include lg-block {
      flex-direction: column;
    }
  }

  & .content {
    margin-top: 7.26vh;
    @include lg-block {
      margin-top: 0;
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

  & .content__left,
  & .content__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 50%;
    @include lg-block {
      width: 100%;
      box-sizing: border-box;
    }
  }


  & .content__left {
    position: relative;
    max-height: 75vh;
    align-items: center;
    @include lg-block {
      max-height: initial;
      box-sizing: border-box;
    }
  }

  & .content__right {
    position: relative;
    height: auto;
    padding: 0;
  }
}

@keyframes move {
  from {
    top: 0;
    opacity: .8;
  }
  to {
    top: 5px;
    opacity: .2;
  }
}

@keyframes left-move {
  from {
    margin-left: -50px;
  }
  to {
    margin-left: 0;
  }
}