section#main.page.page-0.js-page.is-show
    .container.container_page-0.js-parallax-page-0
        .content__center
            a.logo(href="https://novex.ru" target="_blank") Novex
                span.logo-en
                span.logo-sip
                span.logo-ru
        .content__box
            .content.content__left
            .content.content__right

        .page-0__button
            a(href='#register').button.js-scroll-link Участвовать

