.page-4 {
    height: auto;
    overflow: inherit;

    &:after {
        @include lg-block {
            content: none;
        }
        content: '';
        position: absolute;
        right: 0;
        top: 50px;
        width: 170px;
        height: 203px;
        background: url("../img/page1/decor.png") no-repeat center;
    }

    & .container {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        overflow: hidden;
        z-index: 2;

        @include lg-block {
            flex-direction: column;
        }
    }

    & .content {
        max-width: 100%;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        padding-top: 9vh;
        padding-bottom: 2.8vh;
        z-index: 2;
        @include lg-block {
            min-height: auto;
            padding-top: 24px;
            padding-bottom: 24px;
        }
    }

    &__title {
        @include lg-block {
            margin-bottom: 24px;
        }
        margin-bottom: 6.4vh;
    }
}


.copyright {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    margin-top: 6.2vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex: 1 0 auto;
    @include lg-block {
        font-size: 15px;
        line-height: 21px;
        margin-top: 48px;
    }
    @include md-block {
        font-size: 13px;
        line-height: 19px;
        margin-top: 32px;
    }
}

.raffle {
    &-card {
        @include u-col(24px);
        @include u-size(6, 12, 24px);
        @include xl-block {
            @include u-size(12, 12, 24px);
        }
        background: linear-gradient(90deg, #C4E191 0%, #FAFCFD 100%);
        box-sizing: border-box;
        margin-bottom: 16px;

        @include lg-block {
            margin: 0 0 16px 0;
        }
        @include sm-block {
            margin-bottom: 12px;
        }

        .blue & {
            @include lg-block {
                margin-left: 12px;
                margin-right: 12px;
            }
            background: #7ACBE8;
        }

        &-inner {
            display: flex;
            position: relative;
            justify-content: flex-end;
            @include sm-block {
                flex-direction: column;
                justify-content: flex-start;
            }
        }

        &__list {
            @include row-flex();
            @include xl-block {
                flex-direction: row;
                margin: 0 -8px;
                max-height: initial;
            }
            flex-direction: column;
            padding: 0;
            text-align: left;
            list-style: none;
            counter-reset: counter;
            max-height: 700px;
            margin-bottom: 0;
            margin-top: 0;

            & + & {
                @include lg-block {
                    margin-top: 24px;
                }
                margin-top: 64px;
            }

            &.blue {
                flex-direction: row;
            }
        }

        &__content {
            width: 100%;
            height: 106px;
            padding: 12px 15px 12px 25px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            counter-increment: counter;
            @include sm-block {
                padding: 10px 12px 10px 20px;
                height: auto;
            }

            @include to(360px) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }

            &:before {
                @include lg-block {
                    font-size: 100px;
                }
                @include md-block {
                    font-size: 60px;
                    -webkit-text-stroke-width: 2px;
                }
                content: counter(counter);
                position: relative;
                left: 0;
                top: 0;
                font-style: normal;
                font-weight: bold;
                font-size: 80px;
                line-height: 80%;
                text-align: right;
                -webkit-text-stroke-width: 4px;
                -webkit-text-stroke-color: #D2E8A8;
                font-feature-settings: 'tnum' on, 'lnum' on;
                color: transparent;
                margin-right: 16px;

                .blue & {
                    -webkit-text-stroke-color: #95D5EE;
                }
            }

            &-inner {
                padding-right: 10px;
                box-sizing: border-box;
                width: #{'calc(100% - 220px)'};

                @include notebook {
                    width: #{'calc(100% - 180px)'};
                }

                @include sm-block {
                    width: #{'calc(100% - 120px)'};
                }
                @include to(360px) {
                    width: 100%;
                    padding-right: 0;
                    margin-bottom: 16px;
                }
            }
        }

        &__name {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            color: #242424;
            @include md-block {
                font-size: 20px;
                line-height: 28px;
            }
            @include md-block {
                font-size: 16px;
                line-height: 22px;
            }
        }

        &__city {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #676767;
            margin-top: 6px;
            @include md-block {
                font-size: 14px;
                line-height: 20px;
                margin-top: 4px;
            }
            @include md-block {
                font-size: 13px;
                line-height: 16px;
            }
        }

        &__number {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            color: #676767;
            margin-top: 6px;
            @include md-block {
                font-size: 18px;
                line-height: 24px;
                margin-top: 4px;
            }
            @include sm-block {
                font-size: 16px;
                line-height: 22px;
            }
        }

        &__prize {
            @include lg-block {
                width: 100px;
                height: 100px;
            }
            display: flex;
            align-items: center;
            justify-content: center;

            &-img {
                @include lg-block {
                    width: 100px;
                    height: 70px;
                }
                width: 126px;
                height: 80px;
                text-align: right;
                & img {
                    max-width: 100%;
                    margin: auto;
                }

                .blue & {
                    @include xl-block {
                        width: 126px;
                        height: 80px;
                        & img {
                            max-height: 100%;
                        }
                    }
                    width: 154px;
                    height: 134px;
                }
            }
        }
    }
}

.slick-slide > div {
    padding: 0 12px;
    box-sizing: border-box;
}

.slick-dots {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    margin: auto;
    flex-wrap: wrap;

    & li {
        background-color: #fff;
        opacity: 0.3;
        border-radius: 0;
        width: 17px;
        height: 2px;
        margin: 0 5px 10px;
    }

    & li.slick-active {
        opacity: 1;
    }

    & button {
        display: none;
    }
}